*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/desktop_src
Thumbnail.md
MainScreenRE.md
VideoRE.md
JNI.md
GEMINI-copy.md
REFACTORRESULT.md
